<mat-form-field appearance="standard">
  <mat-label>Filter</mat-label>
  <input matInput placeholder="Filter" #input>
</mat-form-field>
<table mat-table [dataSource]="dataSource"
       matSort matSortActive="date" matSortDisableClear matSortDirection="desc">
  <ng-container matColumnDef="currency_out">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClearmat-sort-header disableClear> Currency Out</th>
    <td mat-cell *matCellDef="let element"> {{element.currencyOut}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Date</th>
    <td mat-cell *matCellDef="let element"> {{element.date | date:'yyyy-MM-dd HH:mm:ss'}} </td>
  </ng-container>

  <ng-container matColumnDef="amount_out">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Amount out</th>
    <td mat-cell *matCellDef="let element"> {{element.amountOut}} </td>
  </ng-container>

  <ng-container matColumnDef="price_currency_in">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Price Currency In</th>
    <td mat-cell *matCellDef="let element"> {{element.priceCurrencyIn}} </td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear> Hash</th>
    <td mat-cell *matCellDef="let element"> {{element.url}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
               showFirstLastButtons
               aria-label="Select page of periodic elements">
</mat-paginator>
